<div id="h23"><h2>Welcome to Cuisines</h2></div>
<div *ngFor="let c of cuisines" >
    <li id="cui1">
        {{c.name}}
 <input type="button" value="delete" (click)="deleteCuisines(c.id)"/>

    </li>
    

</div>
<div *ngIf="flag">
    <form [formGroup]="cuisinesRef" (ngSubmit)="addCuisines()" id="cui2">
      
        <label>Name</label>
        <input type="text" formControlName="name"/><br/>
    <input type="submit" value="addCuisines"/><br/><br/>
    </form>
</div>
<span >{{msg}}</span>

<input type="button" value="add more" (click)="addmore()" class="input-group-text"/>


